@import '~antd/dist/antd.css';

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 89.5vh;
}

.contact-us-container {
  position: fixed;
  right: 30px;
  bottom: 30px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 86vh;
}

.chat-container .chat-comments {
  flex-grow: 1;
}

.ant-card-cover {
  padding: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}
